<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="YouTubeAPIKey" value="AIzaSyCI9HBNqlUK3Zagan3TIEPCQpgJ4VgZZ7o" />
    <add key="ClientId" value="560227326240-euqjrrahgbf6bkmivpe7cibd1hncbn2s.apps.googleusercontent.com" />
    <add key="ClientSecret" value="SQ7WCrs2aNYvnihLGQcAwD4B" />
    <add key="Username" value="L" />
  </appSettings>
</configuration>